<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="container">
      <section>
       <form action="api/shorturl/new" method="POST">
        <div class="form-inline">
          <label for="url" class="form-label mr-2 ">Url To Be Shortened</label>
          <input type="url" name="url" id="url" class="form-control mr-1" required>
          <button class="btn btn-primary mt-1" type="submit">Submit</button>
        </div>
      </form>
    </section>
    </div>
     
     <script src="./public/jquery-3.1.1.min.js"></script>
     <script src="./public/myApp.js"></script>
   </body>


</html>