<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="container">
      <h1>
        Enter a valid url
      </h1>
       <form mt-5>
        <div class="form-group">
          <label for="url">Full Url</label>
          <input type="url" name="url" id="url" class="form-control" required>
          <button class="btn btn-primary mt-1">Submit</button>
        </div>
      </form>
    </div>
     
     <script src="./public/jquery-3.1.1.min.js"></script>
     <script src="./public/myApp.js"></script>
   </body>


</html>